<div class="container-fluid ">
  <div class="panel panel-primary">
    <div class="panel-heading">List</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sl No</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Buy Milk</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Buy Eggs</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
